#outputHere {
  background-color: #85144b; }
  #outputHere a {
    color: #FFDC00; }
  #outputHere div {
    padding: 5px; }

#addresses {
  background-color: #39CCCC; }
  #addresses div {
    font-family: "Luckiest Guy", cursive; }
